.Books {
  background-color: #14b694;
  color: #333;
}

.Books .books_upload {
  margin: 4.8rem auto;
  font-weight: 500;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 38.4rem;
  background-color: #14b694;
}

.Books .books_upload label {
  margin-bottom: 1.2rem;
}

.Books .books_upload input {
  padding: 1.2rem;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #707070;
}

.Books .books_upload input::placeholder {
  color: #707070;
}

.Books .books_upload button {
  padding: 1.2rem;
  margin-top: 1.6rem;
  background-color: #cf466f;
  color: white;
  font-size: 1.6rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.Books .books_upload button:hover {
  color: #cccccc;
}

.Books .books_collection {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.Books .books_collection .book_space {
  width: 25%;
}

.Books .book {
  width: 70%;
  margin: 4.8rem auto;
  border: 1px solid black;
  height: 38.4rem;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  background-color: #d1b4b3;
}

.Books .book h1 {
  font-size: 2.4rem;
  flex-grow: 4;
  padding-left: 1.2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  /* background-color: green; */
}

.Books .book h2 {
  text-align: right;
  flex-grow: 1.5;
  padding-right: 1.2rem;
  display: flex;
  justify-content: right;
  align-items: center;
  /* background-color: blue; */
}

.Books .book .upvote-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.Books .book .delete {
  flex: 3;
  display: flex;
  align-items: center;
  padding-left: 2.4rem;
  /* background-color: grey; */
}

.Books .book .delete svg {
  cursor: pointer;
}

.Books .book .upvote-box svg {
  cursor: pointer;
}

.Books .book .upvote-box .svg {
  flex: 1;
  /* background-color: blue; */
}

.Books .book .upvote-box p {
  text-align: center;
  flex: 1;
  font-size: 1.6rem;
  /* background-color: red; */
}

@media only screen and (max-width: 1021px) {
  .Books .books_collection .book_space {
    width: 33.33%;
  }
}

@media only screen and (max-width: 753px) {
  .Books .books_collection .book_space {
    width: 50%;
  }

  .Books .book {
    width: 60%;
  }
}

@media only screen and (max-width: 575px) {
  .Books .books_collection .book_space {
    width: 100%;
  }

  .Books .book {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .Books .book {
    width: 45%;
  }
}
