.Compability .table-collection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

.Compability .table-container {
  width: 33.33%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.Compability .table-container:first-child {
  margin-top: 1.2rem;
}

.Compability .table-container:nth-child(2) {
  margin-top: 1.2rem;
}

.Compability .table-container:nth-child(3) {
  margin-top: 1.2rem;
}

.Compability table {
  font-size: 1.8rem;
  border-spacing: 1.6rem;
  width: 98%;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  background-color: #d1b4b3;
}

.Compability table tr th {
  text-align: left;
}

.Compability table tr td:first-child {
  font-family: 'Noto Sans', sans-serif;
  width: 33.33%;
}

.Compability table tr td:nth-child(2) {
  font-family: 'Noto Sans', sans-serif;
  width: 33.33%;
}

.Compability table tr td:last-child {
  font-family: 'Noto Sans', sans-serif;
  width: 33.33%;
  text-align: center;
}

.Compability p {
  text-align: right;
  font-size: 1.6rem;
  padding: 1.2rem 4.8rem;
}

.Compability p a:link,
.Compability p a:visited {
  color: #1199f6;
  text-decoration: none;
}

.Compability p a:hover,
.Compability p a:active {
  color: rgb(74, 74, 251);
}

@media only screen and (max-width: 1063px) {
  .Compability .table-container {
    width: 50%;
  }

  .Compability .table-container:nth-child(3) {
    margin-top: 0;
  }
}

@media only screen and (max-width: 718px) {
  .Compability .table-container {
    width: 100%;
  }
}
