.alluser {
  display: flex;
  flex-wrap: wrap;
}

.alluser .card-space {
  width: 25%;
}

.alluser .card {
  width: 75%;
  margin: 4.8rem auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 42px;
  /* background-color: #d1b4b3; */
}

.alluser .card h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 25.6rem;
  margin-left: 1.6rem;
}

.alluser .card h1 a:link,
.alluser .card h1 a:visited {
  text-decoration: none;
  color: #333;
}

.alluser .card h2 {
  margin-left: 1.8rem;
}

.alluser .card h2 a:link,
.alluser .card h2 a:visited {
  text-decoration: none;
  color: #cf466f;
}

.alluser .card p {
  background-color: #14b694;
  color: #cf466f;
  font-size: 1.4rem;
  font-weight: 900;
  padding: 1.2rem;
  text-align: center;
  margin: 1.6rem 4.8rem 2.4rem 4.8rem;
  cursor: pointer;
}

@media only screen and (max-width: 1078px) {
  .alluser .card-space {
    width: 33.33%;
  }
}

@media only screen and (max-width: 758px) {
  .alluser .card-space {
    width: 50%;
  }

  .alluser .card {
    width: 60%;
  }
}

@media only screen and (max-width: 610px) {
  .alluser .card {
    width: 75%;
  }
}

@media only screen and (max-width: 490px) {
  .alluser .card-space {
    width: 100%;
  }
  .alluser .card {
    width: 60%;
  }
}
