.alluser {
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
}

.alluser .card {
  width: 18%;
  margin: 4.8rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding: 3.2rem 2.4rem 0; */
  border-radius: 42px;
}

.alluser .card h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 28rem;
  /* margin-right: 12.8rem; */
  margin-left: 1.2rem;
}

.alluser .card h1 a:link,
.alluser .card h1 a:visited {
  text-decoration: none;
  color: #192027;
}

.alluser .card h2 {
  margin-left: 1.4rem;
}

.alluser .card h2 a:link,
.alluser .card h2 a:visited {
  text-decoration: none;
  color: #f07ea8;
}

.alluser .card p {
  background-color: #109fd1;
  color: white;
  font-size: 1.4rem;
  padding: 1.2rem;
  text-align: center;
  margin: 1.2rem 4.8rem 2.4rem 4.8rem;
}
