.Mbti {
  background-color: #525659;
  padding-bottom: 2.4rem;
}

.Mbti .block-container {
  width: 76.8rem;
  margin: 2.4rem auto 0;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

@media only screen and (max-width: 652px) {
  .Mbti {
    padding-bottom: 0;
  }
  .Mbti .block-container {
    width: 100%;
    margin: 0 auto;
  }
}
