.Form {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: #549ccc;
  display: flex;
  align-items: center;
}

.Form input {
  width: 85%;
  font-size: 1.7rem;
  display: block;
  margin: 1rem auto;
  padding: 1rem 1.4rem;
  border-radius: 0.5rem;
  line-height: 1.5;
  border: 0;
  box-shadow: 0 0 0 0.1rem #0b2e59;
}

.Form input:focus {
  outline: none;
}

.Form button {
  padding: 1.3rem 3rem;
  margin-right: 2rem;
  background-color: black;
  color: white;
  cursor: crosshair;
}
